# .NET
bin/
obj/
*.user
*.suo
.vs/
logs/
*.log

# EF Core
# Migrations/ (decommenter si vous ne voulez pas versionner les migrations)

# ASP.NET Core
appsettings.Production.json

# Angular
node_modules/
dist/
.angular/
.sass-cache/

# IDE
.idea/
*.swp
*.DS_Store
Thumbs.db
